<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>880</integer>
    <key>capHeight</key>
    <integer>738</integer>
    <key>copyright</key>
    <string>(C)2018 Font-Kai, Kazuo KANAI</string>
    <key>descender</key>
    <integer>-120</integer>
    <key>familyName</key>
    <string>FK-Kaisei-shared</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/02/21 11:00:03</string>
    <key>openTypeNameDesigner</key>
    <string>Font-Kai金井和夫</string>
    <key>openTypeNameDesignerURL</key>
    <string>font-kai.jp</string>
    <key>openTypeNameManufacturer</key>
    <string>KAZUO KANAI</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://font-kai.jp</string>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>postscriptBlueValues</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>W4</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>4</integer>
    <key>versionMinor</key>
    <integer>300</integer>
    <key>xHeight</key>
    <integer>501</integer>
  </dict>
</plist>
